In [3]:
import numpy as np
import pandas as pd



from flask import Flask, jsonify, render_template, redirect
import datetime as dt

In [61]:
loan=pd.read_csv("../Resources/outcome_df.csv")

In [62]:
loan.head()

,loan_purpose,loan_granted,loan_repaid,is_first_loan,fully_repaid_previous_loans,currently_repaying_other_loans,total_credit_card_limit,avg_percentage_credit_card_limit_used_last_year,saving_amount,checking_amount,is_employed,yearly_salary,age,dependent_number
0,2,0,2.0,1,2.0,2.0,8600,0.79,1491,6285,1,45200,42,7
1,2,0,2.0,1,2.0,2.0,5300,0.52,141,5793,0,0,42,5
2,4,0,2.0,1,2.0,2.0,0,0.00,660,3232,1,26500,60,4
3,4,1,1.0,0,1.0,0.0,5400,0.52,3345,2764,1,15800,58,4
4,1,1,0.0,1,2.0,2.0,2900,0.76,1050,3695,1,34800,31,4

In [63]:
loan = loan.rename(columns = {'loan_purpose':'purpose','loan_granted':'granted','loan_repaid':'repaid','is_first_loan':'first_loan','fully_repaid_previous_loans':'otherloans_repaid','currently_repaying_other_loans':'repaying','total_credit_card_limit':'credit_limit','avg_percentage_credit_card_limit_used_last_year':'limit_used','saving_amount':'savings','checking_amount':'checking','is_employed':'employeed','yearly_salary':'salary','age':'age','dependent_number':'dependents'})

In [64]:
loan.head()

,purpose,granted,repaid,first_loan,otherloans_repaid,repaying,credit_limit,limit_used,savings,checking,employeed,salary,age,dependents
0,2,0,2.0,1,2.0,2.0,8600,0.79,1491,6285,1,45200,42,7
1,2,0,2.0,1,2.0,2.0,5300,0.52,141,5793,0,0,42,5
2,4,0,2.0,1,2.0,2.0,0,0.00,660,3232,1,26500,60,4
3,4,1,1.0,0,1.0,0.0,5400,0.52,3345,2764,1,15800,58,4
4,1,1,0.0,1,2.0,2.0,2900,0.76,1050,3695,1,34800,31,4

In [65]:
#re-order columns
granted = loan['granted']
repaid = loan['repaid']

In [66]:
loan.drop(labels=['granted'], axis=1,inplace = True)
loan.insert(13, 'granted', granted)

In [67]:
loan.drop(labels=['repaid'], axis=1,inplace = True)
loan.insert(13, 'repaid', repaid)

In [68]:
loan['otherloans_repaid']=loan.otherloans_repaid.astype(int)

In [69]:
loan['repaying']=loan.repaying.astype(int)

In [70]:
loan.head()

,purpose,first_loan,otherloans_repaid,repaying,credit_limit,limit_used,savings,checking,employeed,salary,age,dependents,granted,repaid
0,2,1,2,2,8600,0.79,1491,6285,1,45200,42,7,0,2.0
1,2,1,2,2,5300,0.52,141,5793,0,0,42,5,0,2.0
2,4,1,2,2,0,0.00,660,3232,1,26500,60,4,0,2.0
3,4,0,1,0,5400,0.52,3345,2764,1,15800,58,4,1,1.0
4,1,1,2,2,2900,0.76,1050,3695,1,34800,31,4,1,0.0

In [71]:
loan.to_csv('../Resources/outcome_sql.csv', index=False)

In [72]:
loan.drop(labels=['granted','repaid'], axis=1, inplace=True)

In [73]:
loan.to_csv('../Resources/indicators_sql.csv', index=False)

## pull data back in

In [74]:
outcome=pd.read_csv("../Resources/outcome_sql.csv")

In [75]:
outcome.drop(labels=['repaid'], axis=1,inplace = True)

In [76]:
outcome.to_csv('../Resources/outcome_sql2.csv', index=False)

## Send data to SQL

In [5]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import psycopg2

In [6]:
#make sure you have your own config on your computer in the SQL folder
from config import key

#################################################
# Database Setup
#################################################
pg_user = 'postgres'
pg_pwd = key
pg_port = "5432"

#remember to make this db in pgAdmin before
# run Final_Query.sql in pgAdmin to create the tables

database = 'Project3_Fast'
url = f"postgresql://{pg_user}:{pg_pwd}@localhost:{pg_port}/{database}"

## Load Data into RDS

In [7]:
pg_user = 'postgres'
pg_pwd = 'iheartdata'
pg_port = "5432"
rds = 'p3.cbbgji2378b1.us-east-2.rds.amazonaws.com'

database = 'fastloan'
url2 = f"postgresql://{pg_user}:{pg_pwd}@{rds}:{pg_port}/{database}"

In [8]:
engine = create_engine(url2)

In [9]:
engine

Engine(postgresql://postgres:***@p3.cbbgji2378b1.us-east-2.rds.amazonaws.com:5432/fastloan)

In [10]:
#indicators.to_sql('loanapp', engine, index=False)

# DO NOT RUN

### the cells below are commented out to avoid pushing data to RDS that has already been loaded

In [88]:
#push an initial 10,000 rows. This took a about 10min
# batch1 = outcome.iloc[:10001]

In [90]:
# batch1.to_sql('loanaccept', engine, index=False) #This takes time

In [107]:
#iterate over chunks of 1000 rows instead. This all together took about 40min
# incrament = np.arange(10001,100000,1000)

In [108]:
# incrament

array([10001, 11001, 12001, 13001, 14001, 15001, 16001, 17001, 18001,
       19001, 20001, 21001, 22001, 23001, 24001, 25001, 26001, 27001,
       28001, 29001, 30001, 31001, 32001, 33001, 34001, 35001, 36001,
       37001, 38001, 39001, 40001, 41001, 42001, 43001, 44001, 45001,
       46001, 47001, 48001, 49001, 50001, 51001, 52001, 53001, 54001,
       55001, 56001, 57001, 58001, 59001, 60001, 61001, 62001, 63001,
       64001, 65001, 66001, 67001, 68001, 69001, 70001, 71001, 72001,
       73001, 74001, 75001, 76001, 77001, 78001, 79001, 80001, 81001,
       82001, 83001, 84001, 85001, 86001, 87001, 88001, 89001, 90001,
       91001, 92001, 93001, 94001, 95001, 96001, 97001, 98001, 99001])

In [115]:
# for i in incrament_test:
    # batch = outcome.iloc[i:i+1000]
    # batch.to_sql('loanaccept', engine, if_exists='append', index=False) #This takes time

## Look at what is in the sql db

In [70]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [71]:
Base.classes.keys()

['loanaccept']

In [72]:
session = Session(engine)

In [73]:
Loanaccept = Base.classes.loanaccept

## BARPLOTS

### Functions to Make Dictionary Creation for Barplots Faster

In [119]:
def groupbar(list_objectD, list_objectA, i):
    vname = [{'granted':'Declined','value':list_objectD[i]['value']}, {'granted':'Accepted','value':list_objectA[i]['value']}]
    return vname

In [122]:
def combine_list(my_list, data_name, data_list,i):
    my_list.append({'Category':data_name[i],'Value':data_list[i]})

In [66]:

def dictionary_bar_list(query):
    mylist = []
    for i in query:
        group = i[0]
        value = i[1]
        dic = {'group':group, 'value':value}
        mylist.append(dic)
    return mylist

### Make Dictionary for Loan Purpose

#### Query Database

In [111]:
purposeData_accept = session.query(Loanaccept.purpose, func.count(Loanaccept.purpose)).\
            filter(Loanaccept.granted == 1).group_by(Loanaccept.purpose).all()

In [115]:
purposeData_decline = session.query(Loanaccept.purpose, func.count(Loanaccept.purpose)).\
            filter(Loanaccept.granted == 0).group_by(Loanaccept.purpose).all()

#### Convert Query to List of Dictionaries

In [135]:
df_purpose_A = dictionary_bar_list(purposeData_accept)

In [137]:
df_purpose_D = dictionary_bar_list(purposeData_decline)

In [136]:
df_purpose_A

[{'group': 0, 'value': 11587},
 {'group': 1, 'value': 10665},
 {'group': 3, 'value': 7663},
 {'group': 2, 'value': 10495},
 {'group': 4, 'value': 6835}]

#### Reorganize so that each category is it's own dictionary

In [138]:
Home = groupbar(df_purpose_D,df_purpose_A,0)
Business = groupbar(df_purpose_D,df_purpose_A,1)
Investment = groupbar(df_purpose_D,df_purpose_A,2)
Emergency = groupbar(df_purpose_D,df_purpose_A,3)
Other = groupbar(df_purpose_D,df_purpose_A,4)

In [123]:
#Create list to loop over
data_names = ['Home','Business','Investment','Emergency','Other']
data_lists = [Home, Business, Investment, Emergency, Other]

#### Combine reorganized dictionaries into list

In [142]:
bar_purpose = []
for i in range(len(data_names)):
    combine_list(bar_purpose, data_names, data_lists,i)

In [143]:
bar_purpose

[{'Category': 'Home',
  'Value': [{'granted': 'Declined', 'value': 12549},
   {'granted': 'Accepted', 'value': 11587}]},
 {'Category': 'Business',
  'Value': [{'granted': 'Declined', 'value': 10809},
   {'granted': 'Accepted', 'value': 10665}]},
 {'Category': 'Investment',
  'Value': [{'granted': 'Declined', 'value': 10210},
   {'granted': 'Accepted', 'value': 7663}]},
 {'Category': 'Emergency',
  'Value': [{'granted': 'Declined', 'value': 8503},
   {'granted': 'Accepted', 'value': 10495}]},
 {'Category': 'Other',
  'Value': [{'granted': 'Declined', 'value': 10764},
   {'granted': 'Accepted', 'value': 6835}]}]

### Make Dictionary for First Loan

In [144]:
firstloanData_accept = session.query(Loanaccept.first_loan, func.count(Loanaccept.first_loan)).\
            filter(Loanaccept.granted == 1).group_by(Loanaccept.first_loan).all()

In [145]:
firstloanData_decline = session.query(Loanaccept.first_loan, func.count(Loanaccept.first_loan)).\
            filter(Loanaccept.granted == 0).group_by(Loanaccept.first_loan).all()

In [146]:
df_firsloan_A = dictionary_bat_list(firstloanData_accept)

In [147]:
df_firsloan_D = dictionary_bar_list(firstloanData_decline)

In [148]:
df_firsloan_D

[{'group': 0, 'value': 24035}, {'group': 1, 'value': 28800}]

In [149]:
No = groupbar(df_purpose_D,df_purpose_A,0)
Yes = groupbar(df_purpose_D,df_purpose_A,1)

In [151]:
#Create list to loop over
data_names = ['No','Yes']
data_lists = [No, Yes]

In [152]:
bar_firstloan = []
for i in range(len(data_names)):
    combine_list(bar_firstloan, data_names, data_lists,i)

In [153]:
bar_firstloan

[{'Category': 'No',
  'Value': [{'granted': 'Declined', 'value': 12549},
   {'granted': 'Accepted', 'value': 11587}]},
 {'Category': 'Yes',
  'Value': [{'granted': 'Declined', 'value': 10809},
   {'granted': 'Accepted', 'value': 10665}]}]

## SCATTER PLOTS

In [74]:
from random import sample

In [75]:
def dictionary_scatter_list(query):
    mylist = []
    
    for i in query:
        dic = {
            "user_id": i[0],
            "credit_limit": i[1],
            "limit_used": i[2],
            "age": i[3],
            "checking": i[4],
            "savings": i[5],
            "granted": i[6]
        }
    
        mylist.append(dic) 
    return mylist

In [78]:
credit = session.query(Loanaccept.id, Loanaccept.credit_limit, Loanaccept.limit_used, Loanaccept.age, Loanaccept.checking, Loanaccept.savings, Loanaccept.granted).all()

In [79]:
credit[1]

(2, 5300, 0.52, 42, 5793, 141, 0)

In [80]:
credit_list = dictionary_scatter_list(credit)

In [81]:
len(credit_list)

100092

In [82]:
credit_sample = sample(credit_list, 500)

In [83]:
credit_sample[1]

{'user_id': 4902,
 'limit': 8400,
 'limit_used': 0.28,
 'age': 25,
 'checking': 1993,
 'savings': 1860,
 'granted': 1}

### Load All Dictionaries into Master Dictionary fro API Call

In [84]:
my_data = {'bar_purpose':bar_purpose, 'bar_firstloan':bar_firstloan, 'scatter_credit': credit_sample}

NameError: name 'bar_purpose' is not defined

In [155]:
my_data

{'bar_purpose': [{'Category': 'Home',
   'Value': [{'granted': 'Declined', 'value': 12549},
    {'granted': 'Accepted', 'value': 11587}]},
  {'Category': 'Business',
   'Value': [{'granted': 'Declined', 'value': 10809},
    {'granted': 'Accepted', 'value': 10665}]},
  {'Category': 'Investment',
   'Value': [{'granted': 'Declined', 'value': 10210},
    {'granted': 'Accepted', 'value': 7663}]},
  {'Category': 'Emergency',
   'Value': [{'granted': 'Declined', 'value': 8503},
    {'granted': 'Accepted', 'value': 10495}]},
  {'Category': 'Other',
   'Value': [{'granted': 'Declined', 'value': 10764},
    {'granted': 'Accepted', 'value': 6835}]}],
 'bar_firstloan': [{'Category': 'No',
   'Value': [{'granted': 'Declined', 'value': 12549},
    {'granted': 'Accepted', 'value': 11587}]},
  {'Category': 'Yes',
   'Value': [{'granted': 'Declined', 'value': 10809},
    {'granted': 'Accepted', 'value': 10665}]}]}